# ----------------------------------------------------------------------------
# Flutter / Dart
# ----------------------------------------------------------------------------
/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
/coverage/

# ----------------------------------------------------------------------------
# Android Específico
# ----------------------------------------------------------------------------
/android/app/debug
/android/app/profile
/android/app/release
android/local.properties
android/key.properties
**/*.keystore
**/*.jks

# ----------------------------------------------------------------------------
# IDEs (IntelliJ, Android Studio, VS Code)
# ----------------------------------------------------------------------------
.idea/
*.iml
*.ipr
*.iws
.vscode/

# ----------------------------------------------------------------------------
# Archivos de Sistema y Logs
# ----------------------------------------------------------------------------
*.log
*.class
*.swp
.DS_Store
Thumbs.db
.history
.svn/
test_results*.txt

# ----------------------------------------------------------------------------
# Símbolos y Obfuscación
# ----------------------------------------------------------------------------
app.*.symbols
app.*.map.json
